@page
@model StormingCompetition.Pages.HelpModel
@{
}

<h1>Help</h1>

<h2>Steps to enter the obtained password</h2>

<ol>
    <li>The first time you open the website, you must choose a username for your team and enter it in the first box</li>
    <li>You should remember this username because you will need it in the final assessment.</li>
    <li>You have 3 chances and after that user will lock.</li>
    <li>If you enter an incorrect password, you don't need to re-enter it again. In fact you cant change it.</li>
    <li>
        To enter the password, in addition to the passwords obtained in the previous steps, 
        you need to find a phrase on the login page and append it to the password from the previous steps.
    </li>
    <li>
        For this purpose, in the left image on the login page, 
        there is data with "content" title that you need to find to generate the final password.
    </li>
    <li>
        For example if you find the previous password = "abcdefghi" and you find the this step password => content="xyz",
        so the findal password will be "abcdefghixyz"
    </li>
</ol>